body {
    background-image: url('https://i.redd.it/new-and-slightly-older-discord-login-screen-as-a-png-v0-nnd20frfve3d1.png?width=1600&format=png&auto=webp&s=53d372d13bd1af47f24b8069e239aa3870fc6b78');
    color: white;
}

.principal {
    background-color: #313338;
    width: 800px;
    height: 400px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
}

.botao{
    background-color: rgba(95, 149, 242, 0.821);
    width: 400px;
    border: 0;
    padding: 10px;
    text-align: center;
    color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
}
.botao:hover {
    background-color: #515ef3ee;
}


form{
    margin: 30px;
    position: relative;
    bottom: 12px;
}

input {
    width: 380px;
    padding: 10px;
    background-color: #262525;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
}
label {
    color: rgba(209, 209, 209, 0.815);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    top: 15px;
    left: 120px;
}
a {
    color: rgb(90, 146, 249);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}
p {
    color: rgba(209, 209, 209, 0.815);
    font-size: 15px;
}
h6 {
    color: darkgrey;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    left: 75px;
}
span {
    color: rgb(248, 124, 124);
    position: relative;
    left: 4px;
    bottom: 1px;
    font-size: 10px;
}

#esqueceu-senha {
    position: relative;
    bottom: 10px;
}

img {
    width: 170px;
    height: 170px;
    position: absolute;
    top: 0;
    right: 0;
    left: 55%;
    bottom: 40%;
    margin: auto;
    border-radius: 5px;
}
section > h1 {
    position: absolute;
    top: 57%;
    right: 0;
    left: 64%;
    bottom: 0;
    margin: auto;
}

section > h6 {
    position: absolute;
    top: 65%;
    right: 0;
    left: 55%;
    bottom: 0;
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-family: serif;
    font-weight: lighter;
}
section > a {
    position: relative;
    left: 66%;
    bottom: 110px;
}
